
.background-header {
    margin: 0 auto;
     background-image: url(../img/Sectionsbackground/section-1.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

     width: 1920px;
     height: 1012px;
     min-height: 100%;
     min-width: 100%;
     position: relative;
}

.navbar-of-header-container {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}

.navbar-of-header{
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
  
}

.logo-header {
     display: flex;
     align-items: center;
    width: 233px;
    height: 120px;
}

.item-logo{
    position: relative;
}

.item-letter {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFF;
    position: relative;
    bottom: 20px;
    right: 48.5px;
}


.text-of-logo {
    position: relative;
    right: 30px;
}

.the-of-logo-name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFF;
}

.ham-of-logo-name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.navigation-header {
    width: 615px;   
    height: 24px;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;  
    

}

a { 
    text-decoration-line: none;
    
}


a.home-nav , 
a.about-nav ,
a.blog-nav ,
a.skills-nav ,
a.work-nav ,
a.testimonial-nav,
a.service-nav,
a.serch {
    color : rgba(255, 255, 255, 0.6);

}   


a.home-nav:hover , 
a.about-nav:hover ,
a.blog-nav:hover ,
a.skills-nav:hover ,
a.work-nav:hover ,
a.testimonial-nav:hover,
a.service-nav:hover,
a.serch:hover { 
color: rgba(24, 207, 171, 1);
&:after {
    content: '';
    display: block;
    height: 2px;
    background:#18CFAB;
    position: relative;
    top: 45px;
  }
}

.headlines {
    display: grid;
    place-items: center;
    width: 769px;
    height: 213px;
    position: absolute;
    inset: 0;
    margin: auto;


}

.fist-h2-in-header {
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 35px;
    color: #FFF;
    
    
}   

.wordpress-theme {
    color: #18CFAB;
}

.h1-in-header {
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 78px;
    color: #FFF;
    text-transform: uppercase;
  
} 

.second-h2-in-header {
    font-family: 'Montserrat';
    font-weight: 400;   
    font-size: 34px;
color: #D4D4D4;

}


.buttons-in-header {
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 130px;

}

.explore-button {
background-color: #18CFAB;
width: 169px;
height: 63px;
border-radius: 5px;
border: #18CFAB;
position: absolute;
top: 5px;    
}


.purchase-button {
    background-color: #00CBF6;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: #00CBF6;
    position: absolute;
    top: 5px;

}

.rectengle-explore {
    width: 169px;
    height: 64px;
    background-color: #FFF;
    border-radius: 5px;
}

.rectengle-purchase {
    width: 169px;
    height: 64px;
    background-color: #FFF;
    border-radius: 5px;
}

.explore {
position: relative;
}

.purchase {
    position: relative;
}

.four-option {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.rectengles-section {
    display: flex;
    width: 100%;
    height: 370px;

    }

.first-rectengle {
    width: 25%;
    height: 377px;
    background-color: #1C2A33;
}

.second-rectengle {
    width: 25%;
    height: 377px;
    background-color: #18CFAB;
}

.third-rectengle {
    width: 25%;
    height: 377px;
    background-color: #1C2A33;
}

.fourth-rectengle {
    width: 25%;
    height: 377px;
    background-color: #18CFAB;
}


.first-rectengle ,
.second-rectengle ,
.third-rectengle ,
.fourth-rectengle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.first-text-rectengle {
    color: #18CFAB;
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-text-rectengle {
    color: #FFF;
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-text-rectengle {
    color: #18CFAB;
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-text-rectengle {
    color: #FFF;
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-svg-rectengle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-svg-rectengle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-svg-rectengle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-svg-rectengle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services-container {
    margin: 0 auto;
    width: 1160px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 375px;
    
}

.headline-our-services {
    color: #4E4E4E;
    font-family: 'Montserrat';
    font-weight: 400;   
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 50px
    
}



.headline-our-services:before {
     
        content: '';
        display: block;
        height: 4px;
        width: 78px;
        background:#18CFAB;
        margin: 0 auto;
        position: relative;
        top: 50px;
        left: -10px;
}

.headline-our-services::after {
     
    content: '';
    display: block;
    height: 4px;
    width: 78px;
    background:#18CFAB;
    margin: 0 auto;
    position: relative;
    top: 15px;
    left: 5px;

}

.nav-our-services {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-weight: 400;   
    font-size: 16px;   
    padding-bottom: 30px; 
}

.web-design{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #EDEFEF 1px solid;
    width: 192px;
    height: 72px;
}

.graphic-design {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #EDEFEF 1px solid;
    width: 192px;
    height: 72px;   
}

.online-support {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #EDEFEF 1px solid;
    width: 192px;
    height: 72px;
}

.app-design {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #EDEFEF 1px solid;
    width: 192px;
    height: 72px;
}

.online-marketing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #EDEFEF 1px solid;
    width: 192px;
    height: 72px;
}

.seo-service {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #EDEFEF 1px solid;
    width: 192px;
    height: 72px;
}


.on-click {
   
    background-color: #18CFAB;
        border-bottom: 1px solid #03d7ab;
        position: relative;
      
    }

    

   .on-click::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #18CFAB;
    position: absolute;
    top: 69px;
    right: 75px;
}
    


   
.p-web-design {
    display: none;
    align-items: center;
    gap: 20px;
 
}  
.p-graphic-design {
    display: none;
    align-items: center;
    gap: 20px;
 
}
.p-online-support {
    display: none;
    align-items: center;
    gap: 20px;
 
}
.p-app-design {
    display: none;
    align-items: center;
    gap: 20px;
 
}
.p-online-marketing {
    display: none;
    align-items: center;
    gap: 20px;
 
}
.p-seo-service {
    display: none;
    align-items: center;
    gap: 20px;
 
}


.active-p {
    display: flex;
}

.web-design:hover ,
.graphic-design:hover ,
.online-support:hover ,
.app-design:hover ,
.online-marketing:hover ,
.seo-service:hover {
    border-color: #18CFAB;
}

.buy-and-instal {
    display: flex;
    justify-content: center;
}

.background-buy-and-instal {
    background-image: url(../img/Sectionsbackground/section-buy-and-instal.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  
    min-height: 476px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}



.h2-buy-and-instal {
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 40px;    
text-transform: uppercase;
color: #18CFAB;
display: flex;
justify-content: center;
}

.h6-buy-and-instal {
    font-family: 'Montserrat';
    font-weight: 400;   
    font-size: 16px;    
    color: #D8D8D8;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.button-in-buy-and-instal {
    display: flex;
    justify-content: center;
    position: relative;
}

.purchase-button-buy-and-instal {
background-color: #18CFAB;
width: 169px;
height: 63px;
border-radius: 5px;
border: #18CFAB;
position: absolute;
top: 5px;    
}

.rectengle-buy-and-instal {
    width: 169px;
    height: 64px;
    background-color: #FFF;
    border-radius: 5px;
}

.background-color-of-amazing {
  min-height: 1212px;
  max-height: max-content;
    background-color: #E9EDEF;
   
}

.our-amazing-work-container {
    margin: 0 auto;
    width: 1160px;
}

.our-amazing-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.headline-our-amazing-work {
    color: #4E4E4E;
    font-family: 'Montserrat';
    font-weight: 400;   
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 100px;
}

.headline-our-amazing-work::before {
        content: '';
        display: block;
        height: 4px;
        width: 80px;
        background:#18CFAB;
        position: relative;
        top: 45px;
        left: 90px;
    
}

.headline-our-amazing-work::after {
     
    content: '';
    display: block;
    height: 4px;
    width: 80px;
    background:#18CFAB;
    position: relative;
    top: 13px;
    left: 120px;
}

.nav-our-amazing-work {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-weight: 400;   
    font-size: 16px;   
    padding-bottom: 50px; 
}

.filter{
    display: none;
}

.all {
    display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F8FCFE;
        color: #717171;
        border: #DADADA 1px solid;
        width: 192px;
        height: 72px;

}

.graphic-design-ou-amazing {

    display: flex; 
        align-items: center;
        justify-content: center;
        background-color: #F8FCFE;
        color: #717171;
        border: #DADADA 1px solid;
        width: 192px;
        height: 72px;   
}

.web-design-our-amazing {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #DADADA 1px solid;
    width: 192px;
    height: 72px;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #DADADA 1px solid;
    width: 192px;
    height: 72px;

}

.wordpress {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    color: #717171;
    border: #DADADA 1px solid;
    width: 192px;
    height: 72px;
}
    

    
    .seo-service-our {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F8FCFE;
        color: #717171;
        border: #DADADA 1px solid;
        width: 192px;
        height: 72px;
        
    }

.all:hover ,
.graphic-design-ou-amazing:hover ,
.web-design-our-amazing:hover ,
.landing:hover ,
.wordpress:hover  {
    border: #18CFAB 1px solid;
}


.gallery-of-our-amazing-work {
    display: flex;
    flex-wrap: wrap

}

.div-photo1:hover .photo1 ,
.div-photo2:hover .photo2 ,
.div-photo3:hover .photo3 ,
.div-photo4:hover .photo4 ,
.div-photo5:hover .photo5 ,
.div-photo6:hover .photo6 ,
.div-photo7:hover .photo7 ,
.div-photo8:hover .photo8 ,
.div-photo9:hover .photo9 ,
.div-photo10:hover .photo10 ,
.div-photo11:hover .photo11 ,
.div-photo12:hover .photo12 ,
.div-photo13:hover .photo13 ,
.div-photo14:hover .photo14 ,
.div-photo15:hover .photo15 ,
.div-photo16:hover .photo16  {
    display: none;
} 

.div-photo1:hover .our-amazing-work-hover1,
.div-photo2:hover .our-amazing-work-hover2 ,
.div-photo3:hover .our-amazing-work-hover3 ,
.div-photo4:hover .our-amazing-work-hover4 ,
.div-photo5:hover .our-amazing-work-hover5 ,
.div-photo6:hover .our-amazing-work-hover6 ,
.div-photo7:hover .our-amazing-work-hover7 ,
.div-photo8:hover .our-amazing-work-hover8 ,
.div-photo9:hover .our-amazing-work-hover9 ,
.div-photo10:hover .our-amazing-work-hover10 ,
.div-photo11:hover .our-amazing-work-hover11 ,
.div-photo12:hover .our-amazing-work-hover12 ,
.div-photo13:hover .our-amazing-work-hover13 ,
.div-photo14:hover .our-amazing-work-hover14 ,
.div-photo15:hover .our-amazing-work-hover15 ,
.div-photo16:hover .our-amazing-work-hover16  {

    display: flex;
}


.our-amazing-work-hover1 , 
.our-amazing-work-hover2 ,
.our-amazing-work-hover3 ,
.our-amazing-work-hover4 ,
.our-amazing-work-hover5 ,
.our-amazing-work-hover6 ,
.our-amazing-work-hover7 ,
.our-amazing-work-hover8 ,
.our-amazing-work-hover9 ,
.our-amazing-work-hover10 ,
.our-amazing-work-hover11 ,
.our-amazing-work-hover12 ,
.our-amazing-work-hover13 ,
.our-amazing-work-hover14 ,
.our-amazing-work-hover15 ,
.our-amazing-work-hover16 { 
    display: none;
    width: 284px;
    height: 206px;
    background-color: #E9EDEF;
   
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.our-amazing-work-hover1::before , 
.our-amazing-work-hover2::before ,
.our-amazing-work-hover3::before ,
.our-amazing-work-hover4::before ,
.our-amazing-work-hover5::before ,
.our-amazing-work-hover6::before ,
.our-amazing-work-hover7::before ,
.our-amazing-work-hover8::before ,
.our-amazing-work-hover9::before ,
.our-amazing-work-hover10::before ,
.our-amazing-work-hover11::before ,
.our-amazing-work-hover12::before ,
.our-amazing-work-hover13::before ,
.our-amazing-work-hover14::before ,
.our-amazing-work-hover15::before ,
.our-amazing-work-hover16::before { 
    content: '';
    display: block;
    width: 285px;
    height: 2px;
    background:#18CFAB;
    position: relative;
    bottom: 29px;
}

.our-amazing-work-click::before {
    content: '';
    display: block;
    width: 205px;
    height: 2px;
    background:#18CFAB;
    position: relative;
    bottom: 30px;
}

.clickimg {
    position: relative;
    
}

.creative-design {
    font-size: 14px;
    font-weight: 700;   
    text-transform: uppercase;
    color: #18CFAB;
    position: relative;
    top: 20px;
}

.webdesign {
    font-size: 12px;
    font-weight: 300;
     color: #8a8a8a;  
}  

.loader {
    display: none;
    position: relative;
    top: 70px;
    width: 100px;
    height: 100px;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.load-more-in-gallery {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border: #18CFAB;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;

}
.first-click-load-more {
    display: flex;
}

.second-click-load-more {
    display: flex;
}

.load-more {
    font-family: 'Montserrat';
    font-weight: 700;   
    font-size: 14x;
    text-transform: uppercase;
}
.more-img ,
.more-img2 {
    display: none;
    flex-wrap: wrap;
    
}

.breaking-news-container {
    margin: 0 auto;
    width: 1160px;
    height: 1000px;
    margin-top: 120px;
}

.breaking-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.headline-breaking-news {
    color: #4E4E4E;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
}

.headline-breaking-news::before {
    content: '';
display: block;
height: 4px;
width: 78px;
background:#18CFAB;
position: relative;
top: 45px;
left: 70px;
}

.headline-breaking-news::after {
    content: '';
    display: block;
    height: 4px;
    width: 78px;
    background:#18CFAB;
    position: relative;
    top: 13px;
    left: 85px;
}

.blocks-breaking-news {
margin-top: 50px;
display: flex;
flex-wrap: wrap;
gap: 36px;
}


.rectengle-date1 ,
.rectengle-date2 ,
.rectengle-date3 ,
.rectengle-date4 ,
.rectengle-date5 , 
.rectengle-date6 ,
.rectengle-date7 ,
.rectengle-date8 {
    width: 70px;    
    height: 68px;
    color: #FFF;
    background-color: #203E38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 212px;
    left: 193px;
}

.text-under-rectengle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 50px;
    left: 20px;
}

.amazing-blog1 ,
.amazing-blog1 ,
.amazing-blog2 ,
.amazing-blog3 ,
.amazing-blog4 ,
.amazing-blog5 ,
.amazing-blog6 ,
.amazing-blog7 ,
.amazing-blog8 {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 18px; 
   color: #717171;
}

.be-admin {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px; 
    color: #717171;
}


.block-with-photo1-breaking:hover .rectengle-date1 ,
.block-with-photo2-breaking:hover .rectengle-date2 ,
.block-with-photo3-breaking:hover .rectengle-date3 ,
.block-with-photo4-breaking:hover .rectengle-date4 ,
.block-with-photo5-breaking:hover .rectengle-date5 ,
.block-with-photo6-breaking:hover .rectengle-date6 ,
.block-with-photo7-breaking:hover .rectengle-date7 ,
.block-with-photo8-breaking:hover .rectengle-date8  {
    background-color: #18CFAB;
}

.block-with-photo1-breaking:hover .amazing-blog1 ,
.block-with-photo2-breaking:hover .amazing-blog2 , 
.block-with-photo3-breaking:hover .amazing-blog3 , 
.block-with-photo4-breaking:hover .amazing-blog4 , 
.block-with-photo5-breaking:hover .amazing-blog5 , 
.block-with-photo6-breaking:hover .amazing-blog6 , 
.block-with-photo7-breaking:hover .amazing-blog7 , 
.block-with-photo8-breaking:hover .amazing-blog8  {
    color: #18CFAB;
}



.background-what-people-say {
    background-image: url(../img/Sectionsbackground/section-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1012px;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.what-people-say-container {
    margin: 0 auto;
    width: 1160px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.what-people-say-headline {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px; 
    line-height: 40px;
    color: #FFF;
    margin-bottom: 100px;
}

.what-people-say-headline::before {
    content: '';
    display: block;
    height: 4px;
    width: 78px;
    background:#18CFAB;
    position: relative;
    top: 45px;
    left: 190px;
}

.what-people-say-headline::after {
    content: '';
    display: block;
    height: 4px;
    width: 78px;
    background:#18CFAB;
    position: relative;
    top: 13px;
    left: 210px;
}

.quotation-marks {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.block-of-people {
    display: grid;
    place-items: center;
    width: 1160px;
    height: 397px;
    position: absolute;
    inset: 0;
    margin: auto;
}

.info-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 130px;
    
}




.florence-rose-block {
    display: none;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 160px;
    
}

.florence-say-about {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px; 
    line-height: 30px;
    color: #BBB;
    position: relative;
    top: 100px;
}

.photo-florence {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 170px;
   
}

.jason-owen-block {
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 160px;
    display: none;
}

.jason-say-about {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px; 
    line-height: 30px;
    color: #BBB;
    position: relative;
    top: 100px;
}

.photo-owen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 170px;
}

.hasan-ali-block {
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 160px;
    display: none;
}

.olivia-paige-block {
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 160px;
    display: none;
}

.olivia-say-about {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px; 
    line-height: 30px;
    color: #BBB;
    position: relative;
    top: 100px;
}

.photo-olivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 170px;
}

.name {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px; 
    color: #18CFAB;
    text-transform: uppercase;
}

.job {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px; 
    color: #BBB;
    position: relative;
    top: 10px;
}

.hasan-say-about {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px; 
    line-height: 30px;
    color: #BBB;
    position: relative;
    top: 100px;
    
}

.photo-hasan {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 180px;
}

.block-change-person {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    
    top: 500px;
}


.rectengle-change-left{
    width: 31px;
    height: 31px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.0001));
  
    border: 1px solid rgba(187, 187, 187, 1);
    position: relative;
    top: 555px;
    right: 30px;
}

.left {
    width: 10px;
    height: 10px;
    border-top: 3px solid rgba(187, 187, 187, 1);;
    border-right: 3px solid rgba(187, 187, 187, 1);;
    margin-right: 60px;
    transform: rotate(-135deg);
    position: relative;
    left: 12px;
    top: 9px;
}

.rectengle-change-right {
    width: 31px;
    height: 31px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.0001));
  
    border: 1px solid rgba(187, 187, 187, 1);
    position: relative;
    top: 445px;
    left: 460px;
}

.right {
    width: 10px;
    height: 10px;
    border-top: 3px solid rgba(187, 187, 187, 1);;
    border-right: 3px solid rgba(187, 187, 187, 1);;
    margin-right: 60px;
    transform: rotate(45deg);
    position: relative;
    left: 6px;
    top: 9px;
}

.activeblock {
    display: flex;
}

.margin-top-active {
    margin-top: -15px;
}

.rectengle-change-left:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.rectengle-change-right:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

/* .background-gallery-of-best {
    height: 1366px;
    background-color: rgba(0, 0, 0, 0.0001);
    ;
}

.container-gallery-of-best {
    margin: 0 auto;
    width: 1160px;
     height: 1000px; 
    position: relative;
    top: 120px;
}

 .gallery-of-best { 
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.headline-gallery-of-best {
    color: #4E4E4E;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.headline-gallery-of-best::before {
    content: '';
    display: block;
    height: 4px;
    width: 78px;
    background:#18CFAB;
    position: relative;
    top: 45px;
    left: 125px;

}

.headline-gallery-of-best::after {
 
content: '';
display: block;
height: 4px;
width: 78px;
background:#18CFAB;
position: relative;
top: 13px;
left: 150px;

}

.best-images {
    position: relative;
    top: 120px;
    display: grid;
    grid-template-areas: 
                    'best-image1 best-image2 best-image3'
                    'best-image4 best-image5 best-image6'
                    'best-image7 best-image8 best-image6';
}

 .best-image1 {
    grid-area: best-image1;
}

.best-image2 {
    grid-area: best-image2;
}

.best-image3 {
    grid-area: best-image3;
}

.best-image4 {
    grid-area: best-image4;
}

.best-image5 {
    grid-area: best-image5;
}

.best-image6 {
    grid-area: best-image6;
}

.best-image7 {
    grid-area: best-image7;
}

.best-image8 {
    grid-area: best-image8;
} 


.load-more-in-gallery-of-best {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border: #18CFAB;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 120px;
} */

.footer {
    height: 121px;
    background-color: rgba(34, 53, 63, 1);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-in-footer {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px; 
    line-height: 26px;
    color: rgba(174, 174, 174, 1);
}

.theham-footer {
    color: rgba(24, 207, 171, 1);
}

